@import url('https://at.alicdn.com/t/font_2448847_ogyed8on8j.css');
h1,h2,h3,h4,p,ul,li{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}

body{
    font-family: '微软雅黑', 'Arial Narrow', Arial, Sans-serif, serif;
}